/* NAVBAR */
@import url(https://fonts.googleapis.com/css?family=Open+Sans)

html, body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	text-align: center;
}

/* Header with logos */ 

img.maison {
	width: 180px;
	height: 180px;
	margin-left: 50px;
}

img.bordeaux{
	height: 140px;
	width: 140px;
	margin-right: 50px;
}

/* Title of the website */ 

div.titre {
	display: flex;
	justify-content: center;
}

h1 {
	font-family: 'Viaoda Libre', cursive;
	font-size: 60px;
	color: #FC4351;
	margin-right: 40px;
}

nav {
	background-color: #7A454B;
	border-radius: 10px;
	display: flex;
	height: 120px;
	justify-content: flex-start;
	align-items: center;
}

/* Burger menu for mobile devices */


/* List of differents possibilities for the website and navigation */

ul.navigation {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

li a {
	padding-right: 50px;
	padding-left: 50px;
	font-size: 32px;
	font-family: 'Courgette', cursive;
	color: #D0D3D4;
	text-decoration: none;
}

li a:hover{
	color: white;
	text-decoration: none;
	font-size: 40px;
}

/* Research functionnality */

div.search {
	display: flex;
	justify-content: flex-end;
	margin-right: 50px;
	width: 100%;
}

div.search input{
	padding-left: 10px;
	border-width: 0;
	border-color: #D0D3D4;
	width: 80%;
	height: 50px;
	font-size: 17px;
	border-radius: 10px 0 0 10px;
}
div.loupe{
	background-color: white;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border-radius: 0 10px 10px 0;
}

div.loupe input{
	margin-right: 10px;
	height: 20px;
	width: 20px;
}

/* MEDIA QUERY FOR TABLET */

@media (min-width: 961px) and (max-width: 1280px) {

body {
	background : lightgrey;
}

/* Navigation bar logo's */ 

nav {
	height: 80px;
}

img.maison {
	width: 120px;
	height: 120px;
	padding-left: 0px;
}

img.bordeaux{
	height: 100px;
	width: 100px;
}

/* List of differents possibilities for the website */

ul.navigation {
	padding-left: 120px;
}

li a {
	padding-right: 40px;
	font-size: 28px;
	padding-left: 0px;
}

li a:hover{
	font-size: 28px;
}

/* Research functionnality */

div.search input{
	padding-left: 10px;
	height: 40px;
	width: 60%;
	font-size: 14px;
}
div.loupe{
	height: 42px;
	width: 40px;
}

div.loupe input{
	margin-right: 10px;
	height: 15px;
	width: 15px;
}

h1 {
	font-size: 45px;
}
}

/*MEDIA QUERY FOR SMARTPHONES */

@media (max-width: 961px) {

header{
	background-color: #7A454B;
	border-radius: 10px;
	display: flex;
	height: 100px;
	align-items: center;
	transition: .6s;
}


h1 {
	position: absolute;
	top: 5px;
	left: 200px;
	font-size: 35px;
	margin-right: 60px;
	color: white;
}

nav {
	display:none;
}

img {
	display: none;
}

}

/* CARROUSEL */




/* ARTICLES */



/* CONTACT */




/* FOOTER */